<center>
    <form action="/predict" method="post">
        <h2>
            Pencegahan Kecurangan Essay dari ChatGPT menggunakan RoBERTa OpenAI Detector (GPT-2 model)
        </h2>
        <textarea id="input" name="input" rows="10" cols="50"
            placeholder="Masukkan teks yang dicurigai dibuat menggunakan AI dari ChatGPT OpenAI"></textarea><br><br>
        <button type="submit">Prediksi</button><br><br>

        <h4>
            Persentase prediksi > 50% menentukan teks masuk ke dalam kelas Real atau Fake
        </h4>
        <textarea id="" name="" rows="10" cols="50" disabled>{{val}}</textarea><br>
        
        Hasil Prediksi: <b>{{results}}</b>
    </form>
</center>
